* {
  margin: 0;
  padding: 0;
  .box-sizing(border-box);
}

li {
	list-style: none;
}

a {
	display: inline-block;
	text-decoration: underline;

	img {
		border: none;
	}

	&:hover {
		text-decoration: none;
	}
}

legend {
	padding: 0;
	display: table;
}

fieldset {
	border: 0;
	padding: 0.01em 0 0 0;
	margin: 0;
	min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
	display: table-cell;
}

strong, h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

address {
	font-style: normal;
}

input, button, textarea {
	.no-app;
	
	&:focus {
		outline: none;
	}
}

input[type="submit"], button {
	cursor: pointer;
}

mark {
	background: none;
}

/* UI Style */
body {
	font-family: 'Roboto', sans-serif;
}

.simple-collapse {
	padding: 25px;
}

.simple-collapse .collapse-control {
	color: #000;
}

.simple-collapse .collapse-control:hover {
	text-decoration: none;
}

.simple-collapse .collapse-content {
	padding-top: 20px;
	display: none;
}

.simple-collapse .collapse-content p {
	font-style: italic;
	font-size: 14px;
	color: #333;
}

.simple-collapse .collapse-content.contens-show {
	display: block;
}